// 设置默认主题色
$theme-color: #3EAF7C;
// 普通文本上的字体
$font-family: "Lucida Calligraphy";
// 花哨元素上的字体
$font-family-fancy: "Lucida Calligraphy";

// 主要内容宽度
$content-width: 1000px;
// 主页内容宽度
$home-page-width: 1300px;

// 动画的过渡时间
$transform-transition: "0.1s ease";